{% extends 'common/base.html' %}
{% load staticfiles %}
{% block title %}
WebCalendar-Login
{% endblock %}

{% block body %}
<div class="row loginbox">
    <form class="col s12" action="{% url 'login:loginuser' %}" method="POST">
        <div class="row">{% csrf_token %}
            <div class="input-field push-s4 col s4">
                <input  id="username" type="text" class="validate" name='username'>
                <label for="username">UserName</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field push-s4 col s4">
                <input id="password" type="password" class="validate" name='password'>
                <label for="password">Password</label>
            </div>
        </div>
        <div class='row'>
            <div class="input-field push-s4 col s4">
                <button class="btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="input-field push-s2 col s4">
                <a href="{% url 'login:signup' %}"
                   <button class="btn waves-effect waves-light" >SignUp
                        <i class="material-icons right">send</i>
                    </button>
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}    

{% block css %}
{{block.super}}

<link rel="stylesheet" href='{% static "css/login.css" %}'>
{% endblock %}