{% extends 'common/base.html' %}
{% load staticfiles %}
{% block title %}
WebCalendar-Login
{% endblock %}

{% block body %}
<div class="row">
    <div class='loginbox z-depth-5'>
        <h2 class='center'>Login!</h2>
        {% if messages %}
        {% for message in messages %}
        <p style="color: red" class='center'>{{message}}</p>
        {% endfor %}
        {% else %}
        <p  style="color: red" class='center hidden'></p>
        {% endif %}
        
        <form id="loginform" class="col s12 " action="{% url 'login:loginuser' %}" method="POST">
            <div class="row">{% csrf_token %}
                <div class="input-field">
                    <i class="small material-icons prefix">perm_identity</i>
                    {% if messages %}
                    {% for message in messages %}
                    <input  id="username" type="text" class="invalid" name='username'>
                    {% endfor %}
                    {% else %}
                    <input  id="username" type="text"  name='username'>
                    {% endif %}
                    <label for="username">UserName</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <i class="small material-icons prefix">vpn_key</i>
                    {% if messages %}
                    {% for message in messages %}
                    <input id="password" type="password" class="invalid" name='password'>
                    {% endfor %}
                    {% else %}
                    <input id="password" type="password" name='password'>
                    {% endif %}
                    <label for="password">Password</label>
                </div>

            </div>
            <div class='row'>
                <div class="input-field">
                    <button class="btn waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                    <a href="{% url 'login:signup' %}" class='right'>SignUp Now!</a>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}    

{% block css %}
{{block.super}}
<link rel="stylesheet" href='{% static "css/login.css" %}'>
{% endblock %}
{% block script %}
{{block.super}}
<script src='{% static "js/login.js" %}'></script>
{% endblock %}