/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 Jan, 2016, 7:35:26 PM
    Author     : sree
*/
.base{
    background-image: url('../img/b.jpg');    
}
.logo{
    position: relative;
    left: 100px;
}
.loginbox{
    position: absolute;
    left: 785px;
    top: 100px;
    background-color: white;
    height: 375px;
    width: 435px;
    padding: 5px;
    border-radius: 10px;
    opacity: 0.9;
}
.signupbox{
    position: absolute;
    left: 785px;
    top: 10px;
    background-color: white;
    width: 500px;
    padding: 8px 8px;
    border-radius: 10px;
    opacity: 0.9;
}
.heading{
    background-color: #B1EE74;
    border-radius: 10px;
    width:45%;

}
.heading>h4{
    font-style: italic;
    font-family: serif;
    font-weight: bold;
    color: white;

}
#calendar{
    position: absolute;
    background-color: white;
    left: 80px;
    top: 10px;
    border-radius: 10px;
    opacity: 0.5;
    width:  514px;
    height: 628px;
    overflow: hidden;
}