{% extends 'common/base.html' %}
{% load staticfiles %}
{% block css %}
{{block.super}}
<link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}" />
<link rel='stylesheet' href='{% static "css/home.css"  %}'/>
{% endblock %}
{% block body %}
<div class="navbar-fixed navbar">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><image class="logo" src="{% static 'img/logo.jpg' %}"</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="mdi-action-account-circle"></i></a></li>
                <li><a href="{% url 'login:logoutuser' %}"><i class="mdi-action-exit-to-app"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
<div>
    <div class="row">
        <div class="col s3 events">
            <h4>Events</h4>
        </div>
        <div id='calendar' class='col s8 calendar' >

        </div>

    </div>


    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="btn-floating btn-large">
            <i class="mdi-content-add"></i>
        </a>
        <ul>
            <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
            <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
            <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
            <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
        </ul>
    </div>
</div>

{% endblock %}   
{% block script %}
{{block.super}}
<script src="{% static 'js/home.js'  %}"></script>
{% endblock %}