{% extends 'common/base.html' %}
{% load staticfiles %}
{% block css %}
{{block.super}}
<link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}" />
{% endblock %}
{% block body %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Web Calendar</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"></a>Profile</li>
                <li><a href="{% url 'login:logoutuser' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<div>


<div id='calendar'></div>



</div>

{% endblock %}   
{% block script %}
{{block.super}}
<script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
<script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'js/home.js'  %}"></script>
{% endblock %}